*{
	margin: 0 auto;
	padding: 0 auto;
	font-size: 26px;
}
body{
	background-color: #f9f9f9;
}
.avatar{
	max-width: 470px;
	margin-top: 3em;
}
.title{
	margin-top: 5%;
	font-size: 2.7em;
}
.footer{
	font-size: 1.5em;
}
p.icon>a{
	font-size: 35px;
}
p.icon>a>i.icon-npm{
	font-size: 50px;
}
hr {
  min-width:85%; 
  background-color:#a1a1a1 !important; 
  height:1px;

}
a{
	color: #333;
	text-decoration: none;
}
a:hover{
	color: #6666FF;
	text-decoration: none;
}
a:active{
	text-decoration: none;
}

section{
	max-width: 800px;
}

@media screen and (min-width: 640px){
	.avatar{
		max-width: 250px;
	}
}
[margin-top]{
	margin-top: 7%;
}

footer[margin-top]{
	font-size: 1.5em;

}

.fa-twitter:hover, .fa-twitter:active{
	color:#29c5f6;
}
.fa-linkedin:hover, .fa-linkedin:active{
	color: #006dc0;
}
.fa-facebook:hover, .fa-facebook:active{
	color: #3b5997;
}
.icon-npm:hover, .icon-npm:active{
	font-size: 100px;
	color: #cb3837;
}