*{
	margin: 0 auto;
	padding: 0 auto;
	font-size: 26px;
}
body{
	background-color: #f9f9f9;
}
.avatar{
	max-width: 470px;
	margin-top: 3em;
}
.title{
	margin-top: 5%;
	font-size: 2.7em;
}
.footer{
	font-size: 1.5em;
}
p.icon{
	margin-top: 1em;
}
i{
	font-size: 1em;
}
hr{
	height: 2px;
	background: #333; 
}
a{
	color: #333;
}
a:hover{
	color: #6666FF;
	text-decoration: none;
}
@media screen and (min-width: 640px){
	.avatar{
		max-width: 250px;
	}
}

[margin-top]{
	margin-top: 10%;
	font-size: 1.8em;
	letter-spacing: 1.2px;
}
footer[margin-top]{
	font-size: 1.5em;

}